<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<% if(answer){ %>
<div id="answer"><%= answer %></div>
<% } %>
<form action="/" method="post">
    <input autocomplete="off" type="text" placeholder="Question" name="question">

    <input autocomplete="off" type="text" placeholder="Answer 1" name="a1">
    <input autocomplete="off" type="text" placeholder="Answer 2" name="a2">
    <input autocomplete="off" type="text" placeholder="Answer 3" name="a3">

    <input type="submit">
</form>

</body>

</html>