body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input{
  display: block;
  margin: 16px;
  width: 100%;
}
#answer{
  padding: 8px;
  background: deepskyblue;
  color: white;
}